html {
  background-color: #fffaf1;
}

* {
  font-family: Ibm;
}

@font-face {
  font-family: Ibm;
  src: url(./assets/Fonts/IBMPlexSans-Regular.ttf);
}

.App {
  display: grid;
  grid-template-areas: 
  ". title ."
  "holding game controls";
  grid-template-columns: repeat(3, 1fr);
}

img {
  justify-self: center;
  grid-area: title;
  width: 300px;
  margin-bottom: -10px;
}

.controls {
  grid-area: controls;
  display: grid;
  grid-template-rows: 0fr 1fr;
  grid-template-columns: 0fr;
}

.holdingBox {
  grid-area: holding;
  display: grid;
  justify-items: end;
  grid-template-rows: 0fr 0fr;
}

.newGameButton {
  padding: 10px 10px;
  border-radius: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  background-color: #a23333;
  color: #fffaf1;
  font-weight: 900;
  align-self: end;
  margin-bottom: 25px;
}

.newGameButton h2 {
  margin: 0;
  width: 125px;
}

.holdingBox h2 {
  width: 128px;
  text-align: end;
}

.board {
  border: 7px solid black;
  user-select: none;
  margin: auto;
}

.boardContainer {
  border: 1px solid black;
  user-select: none;
  margin: auto;
  grid-area: game;
  padding: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid #bbbbbb;
  margin-left: -1px;
  margin-bottom: -1px;
}

.upcoming {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  justify-content: flex-end;
}

.cell.hidden {
  visibility: hidden;
}

.cell.Empty {
  background-color: #fffaf1;
}

.cell.I {
  background-color: #aecce4;
  border-color: #2f2f2f;
  z-index: 9;
}

.cell.J {
  background-color: #30476d;
  border-color: #2f2f2f;
  z-index: 9;
}

.cell.L {
  background-color: #fdaa4e;
  border-color: #2f2f2f;
  z-index: 9;
}

.cell.O {
  background-color: #ffe89d;
  border-color: #2f2f2f;
  z-index: 9;
}

.cell.S {
  background-color: #b8e600;
  border-color: #2f2f2f;
  z-index: 9;
}

.cell.T {
  background-color: #ab8cde;
  border-color: #2f2f2f;
  z-index: 9;
}

.cell.Z {
  background-color: #a23333;
  border-color: #2f2f2f;
  z-index: 9;
}